.phone_container {
  width: 800px;
  max-width: 850px;
  display: flex;
  // justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  // background-color: dodgerblue;
  height: 20.9rem;

  h3 {
    font-size: 1.4rem;
    margin: 1.2rem 0;
  }

  p {
    width: 82%;
    margin-top: 0.8rem;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
  }

  .phone_actions {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    position: relative;
    border-radius: 8px;
    height: 4.5rem;
    color: black;

    .mobile_label {
      position: absolute;
      transition: all 1s;
      left: 1.3rem;
      font-size: 1.2rem;
    }

    .mobile_label_hide {
      position: absolute;
      top: 0;
      left: 1rem;
      font-size: 15px;
      padding: 5px;
      margin-bottom: 2px;
      transition: all 0.8s;
      font-size: 0.8rem;
    }

    .mobile_input {
      outline: none;
      border: none;
      width: 100%;
      height: 100%;
      font-size: 1.1rem;
      padding-left: 1rem;
      padding-top: 1rem;
      background-color: #fff;
      color: black;
      border-radius: 5px;
    }

    .mobile_input_error {
      background-color: rgb(245, 135, 135);
    }
  }
}
