@use "../common/colors";

@mixin fullBlue {
  background-color: colors.$bule500;
  border: 1px solid #f7f7f7;
  h3 {
    color: #f7f7f7;
  }
}

@mixin fullWhite {
  background-color: #f7f7f7;
  border: 1px solid colors.$blue200;
  h3 {
    color: colors.$blue200;
  }
}

.btn {
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 14px 3px;
  cursor: pointer;

  h3 {
    color: black;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
  }
}
.signup {
  @include fullBlue();
  &:hover {
    @include fullWhite();
  }
}
.login {
  @include fullWhite();
  &:hover {
    @include fullBlue();
  }
}
