@use "../common/colors";

.custom-btn {
  width: 350px;
  height: 60px;
  padding: 10px 25px;
  border: 2px solid colors.$blue500;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.6s ease;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  vertical-align: middle;
  margin: 1rem 0;

  h3 {
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-left: 5px;
  }
}

.btn-15 {
  background: #f7f7f7;
  color: colors.$blue500;
  z-index: 1;
}
.btn-15:after {
  border-radius: 30px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: colors.$primaryColor;
  transition: all 0.6s ease;
}
.btn-15:hover {
  color: #f7f7f7;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
