@use "../common/colors";

@mixin screenflex($jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

.videoSection {
  background-color: colors.$primaryColor;
  height: 1240px;
  margin-top: 5rem;

  .info {
    padding-top: 2rem;
    @include screenflex(center);
    flex-direction: column;
    h1 {
      text-transform: capitalize;
      font-size: 4rem;
      margin-top: 15px;
      font-weight: bold;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      padding-top: 5px;
    }
  }

  .gif {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 430px;
      height: 350px;
    }
  }
}

.video {
  background-color: transparent;
  video {
    width: 100%;
  }
}

.video__footer {
  background-color: colors.$primaryDark;
  height: 180px;
  @include screenflex(center);
  flex-direction: column;
  margin-top: -4px;
  h1 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 18px;
  }
}

@mixin shoppingBody {
  width: 100%;
  height: 28rem;
  transition-timing-function: ease-in;
  transition: all 0.7s;
  // transform: translateX(-70vw);
}

@mixin shoppingActions {
  max-width: 700px;
  padding: 12px 0;
  h1 {
    font-weight: 500;
    font-size: 3.5rem;
    padding: 7px 0;
    margin: 15px 0;
  }
  p {
    margin: 18px 0;
    padding: 7px 0;
    font-size: 1rem;
    font-weight: 800;
    color: #000;
  }
}

main {
  background-color: #fff;
  color: colors.$blueText;
  margin-top: 10px;

  .white_space {
    width: 100%;
    height: 20px;
    background-color: #fff;
  }

  .shopping_section {
    @include screenflex(center);
    @include shoppingBody();
    transform: translateX(-70vw);
    opacity: 0;

    .shopping_info {
      margin-right: 12rem;
      @include shoppingActions();
    }

    img {
      width: 400px;
      height: 400px;
    }
  }

  .shopping_package_section {
    @include screenflex(center);
    @include shoppingBody();
    transform: translateX(70vw);
    visibility: hidden;
    overflow: hidden;

    .shopping_package_info {
      @include shoppingActions();
    }

    img {
      width: 550px;
      height: 400px;
      margin-right: 11rem;
    }
  }
}

main {
  .shopping_section_show {
    transform: translateX(0vw);
    opacity: 1;
    visibility: visible;
  }
}
