$primaryColor: #0090e5;
$primaryDark: #02387b;
$blue500: #0070ba;
$blue200: #78c7e9;
$blueText: #27b3ee;
$textGray: #a0a6a7;
$danger: #db4118;

@mixin ScreenFlex() {
  display: flex;
  align-items: center;
  justify-content: center;
}
